# OS / Editor
.vscode/
Thumbs.db
desktop.ini
.DS_Store

# Logs
*.log

# Secrets / Env
.env
.env.*
*.env

# Python env & cache
.venv/
venv/
env/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Build / packaging
build/
dist/
*.egg-info/
.eggs/

# Django / DB (hapus jika pakai DB lain dan ingin commit)
*.sqlite3
db.sqlite3

# Static collect (jika pakai collectstatic)
staticfiles/
media/

# Test / coverage / tooling
.pytest_cache/
.coverage
coverage/
htmlcov/
.mypy_cache/
.cache/

# Misc
*.bak
*.tmp
